# Configurações do Ruby e Gems
/.bundle/
/vendor/bundle/
/vendor/ruby/
*.gem

# Environment variables (SEGURANÇA!)
.env

# Banco de Dados SQLite (Dados Pessoais)
data/*.sqlite3
data/temp_*

# Relatórios e Planilhas (Dados Financeiros)
reports/*.xlsx
reports/*.ogg
reports/*.csv

# Arquivos de log e sistema
*.log
.DS_Store
